
.baceria-loader{
    width: 100vw;
    height: 50vh;
    padding-top: 10vh;
    align-items: center;
    align-content: center;
    overflow-y: hidden;
    overflow-x: hidden;

    &__text {
      text-align: center;
    }
  }