.news-container {
    height: 100%;
    color: black;
    margin: auto;
    background-color: whitesmoke;
    padding-bottom: 2rem;
}
.news-content{
    overflow-y: auto;
    max-height: 100%;
    padding: 3rem;
    font-size: 70%;
    @media only screen and (max-width: 1250px){
        padding: .5rem;
        font-size: 60%;
    }
    @media only screen and (max-width: 750px){
        padding: .5rem;
        font-size: 50%;
    }
}
