.country-container {
    display: flex;
    min-height: 93vh;
    background-color: darkgray;
    flex-wrap: wrap;
    text-align: center;
}

.country-column {
    background-color: darkgray;
    width: 50vw;
}

.country-quarter-display {
    background-color: darkgray;
    height: 50%;
    box-sizing: border-box;
    &-sticky{
        background-color: lightgray;
        height: 30vh;
        box-sizing: border-box;
        display: flex;
        padding: .5rem 3.5rem .5rem .5rem;
    }
}

.column-container{
    display: flex;
    flex: 1;
}

.country-full-half {
    background-color: lightgrey;
    width: 50vw;
    height: 60vh;
    overflow-y: hidden;
}
.country-table {
    background-color: gray;
    flex: 1 100%;
    height: 33vh;
    max-width: 100%;
    overflow: hidden;
}