.country-container {
    display: flex;
    background-color: darkgray;
    flex-wrap: wrap;
    text-align: center;
}

.country-column {
    background-color: darkgray;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.country-quarter-display {
    background-color: darkgray;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    @media only screen and (max-width: 750px) {
        font-size: 50%;
    }
    &-sticky{
        overflow: hidden;
        background-color: lightgray;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        padding: .5rem 3.5rem .5rem .5rem;
        color: black;
        text-align: center;
    }
}

.column-container{
    display: flex;
    flex: 1;
}

.country-full-half {
    background-color: lightgrey;
    width: 50vw;
    height: 60vh;
    overflow-y: hidden;
}
.country-table {
    background-color: gray;
    flex: 1 100%;
    max-width: 100%;
    overflow: hidden;
    font-size: 50%;
}