.country-container {
    display: flex;
    min-height: 93vh;
    background-color: yellow;
    flex-wrap: wrap;
    text-align: center;
}

.country-column {
    background-color: royalblue;
    width: 50vw;
}

.country-quarter-display {
    background-color: royalblue;
    height: 50%;
    &-sticky{
        background-color: red;
        height: 30vh;
        box-sizing: border-box;
    }
}

.column-container{
    display: flex;
    flex: 1;
}

.country-full-half {
    background-color: lightgrey;
    width: 50vw;
    height: 60vh;
    overflow-y: hidden;
}
.country-table {
    background-color: green;
    flex: 1 100%;
    height: 33vh;
}