.state {
  font-size: 60%;

    &__table {
      width: 100%;
      border: solid 1px black;
      background: whitesmoke;
      color: black;
      white-space: nowrap;
      border-collapse: collapse;
      // font-size: 1rem;
      overflow-x: auto;
      @media only screen and (max-width: 750px) {
        font-size: 70%;
    }
    }
  
    &__header {
      background-color: black;
      color: whitesmoke;
      font-weight: 500;
      text-transform: uppercase;
  
      &-cell {
        padding: .5rem;
      }
    }
  
  
      &__row {
        border-bottom: black;
  
        &:nth-child(2n) {
          background-color: darkgray;
        }
      }
  
      &__cell {
        border: 1px solid black;
        padding: .15rem;
        text-align: center;
        box-sizing: border-box;
        @media print {
          padding: .5rem !important;
        }
      }
  }

  .pagination {
    display: flex;
    justify-content: center;
  }

  .state-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: darkgray;
    flex-wrap: wrap;
    text-align: center;
    overflow-x: hidden;
}

.state-column {
    background-color: darkgray;
    width: 50vw;
    display: flex;
    margin: auto;
}

.state-quarter-display {
  background-color: darkgray;
  box-sizing: border-box;
  margin: auto;
    @media only screen and (max-width: 750px) {
        font-size: 50%;
        overflow-y: auto;
        height: 40%;
    }
    &-sticky{
        overflow: hidden;
        background-color: lightgray;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        padding: .5rem 3.5rem .5rem .5rem;
        color: black;
        text-align: center;
    }
}

.column-container{
    display: flex;
    flex: 1;
}

.state-full-half {
    background-color: lightgrey;
    width: 50vw;
    height: 60vh;
    overflow-y: hidden;
}
.state-table {
    background-color: gray;
    flex: 1 100%;
    max-width: 100%;
    overflow: hidden;
}
.state-table-container {
  background-color: gray;
  height: 33vh;
  overflow-x: auto;
  flex: 1 100%;
  max-width: 100%;
}