html, body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.35);
  font-size: 1.25rem;
  color: whitesmoke !important;
}

.hidden {
  display: none;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.tooltip {
  border-radius: .5rem;
  opacity: 1 !important;
  width: 25vw !important;
}